.about {
  background: #fff5f6;
  padding-top: 40px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 60px;
    padding-bottom: 100px;
  }

  background-image: url(../../src/images/img-how-made/milk-bg-desk-1x.png);
  background-size: contain;
  background-repeat: no-repeat;

  @media screen and (max-width: 767.98px) {
    background-position: center 80%;
  }

  @media screen and (max-width: 479.98px) {
    background-position: center 65%;
  }

  @media screen and (max-width: 400px) {
    background-position: center 70%;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../../src/images/img-how-made/milk-bg-desk-2x.png);
  }

  @media (min-width: 1280px) {
    background-image: url(../../src/images/img-how-made/milk-bg-desk-1x.png);
    background-position: center 75%;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../../src/images/img-how-made/milk-bg-desk-2x.png);
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1279.98px) {
    background-image: none;
  }
}

.about__label {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  text-align: center;

  text-transform: uppercase;

  color: #ffa5ba;

  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
  }
}

.about__title {
  font-family: 'Titan One';
  font-style: normal;

  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;

  text-align: center;

  text-transform: uppercase;

  color: #d41443;

  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    font-size: 48px;

    margin-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    margin-bottom: 80px;
  }
}

.about__content {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 32px;
  }

  @media screen and (min-width: 1280px) {
    gap: 140px;

    align-items: center;
  }
}

.about__foto {
  @media screen and (min-width: 768px) {
    width: 336px;
  }

  @media screen and (min-width: 1280px) {
    width: 501px;
  }
}

.about__production {
  @media screen and (max-width: 400px) {
    width: 220px;
  }

  @media screen and (min-width: 768px) {
    width: 334px;
  }

  @media screen and (min-width: 1280px) {
    width: 463px;
  }
}

.about__production-text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;

  color: #000000;

  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;

    margin-bottom: 32px;
  }
}

.about__production-text--color {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;

  color: #907e82;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.about__production-text--p {
  padding-bottom: 12px;
}

.about__btn {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #d41443;
  background-color: #fff;

  border-radius: 22px;

  text-align: center;
  cursor: pointer;
  border: none;

  padding-left: 37px;
  padding-right: 56px;

  margin-top: 40px;

  width: 176px;
  height: 44px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}
