.customer-reviews {
  margin-top: 80px;
  @media screen and (min-width: 1280px) {
    margin-top: 120px;
  }
}

.customer-img {
  display: block;
  max-width: 100%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.customer-comment {
  position: relative;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.86;

  text-align: center;
  letter-spacing: 0.04em;

  color: #000000;
  margin-top: 16px;
  background: repeating-linear-gradient(#fafafa, #fafafa 28px, #e1e1e1 28px, #e1e1e1 29px);

  padding-left: 54px;
  padding-right: 54px;

  margin-top: 32px;

  @media screen and (min-width: 768px) {
    margin-top: 20px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 16px;
    padding-left: 105px;
    padding-right: 105px;
  }
  &::before {
    content: '';
    position: absolute;

    display: inline-block;
    margin-right: -10px;

    width: 54px;
    height: 40px;

    background-image: url(../images/img-reviews/quotes.svg);

    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-98%, -50%);
  }
}

.customer-decordots {
  display: block;
  position: relative;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #c7133e;

  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;

    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #c7133e;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    display: inline-block;
    width: 4px;
    height: 4px;
    font-size: 0;
    border-radius: 50%;
    background-color: #c7133e;
  }
}
.customer-author {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;

  text-align: center;
  margin-top: 16px;

  color: #000000;
}

.swiper .swiper-pagination {
  position: relative;
  margin-top: 16px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #c7133e;
}

.swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}
.swiper .swiper-pagination-bullet-active {
  background-image: url(../images/img-reviews/house.svg);
  border-radius: 0;
  background-color: transparent;
}

.swiper-button-prev,
.swiper-button-next {
  top: 20%;
}
