.container {
  width: 100%;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;


  @media screen and (min-width:480px) {
    width: 480px;
  }

  @media screen and (min-width:768px) {
    width: 768px;
  }

  @media screen and (min-width:1280px) {
    width: 1280px;
  }
}

body {
  font-family: 'DM Sans', sans-serif;
  font-family: 'Titan One', cursive;
  background-color: #FFFFFF;
  overflow: hidden;
}

/* html {
    box-sizing: border-box;
} */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ---------------hero --------------- */

.header {
  position: relative;
  z-index: -10;
  background-color: rgba(255, 184, 202, 1);
  min-width: 320px;
  max-width: 480px;
  overflow: hidden;
  min-height: 502px;
  margin: 0 auto;
}

@media screen and (min-width:768px) {
  .header {
    max-width: 768px;
    min-height: 416px;
  }
}


.header-hero__circle {
  position: absolute;
  z-index: 1;

  width: 345px;
  height: 345px;
  background-color: #FFA5BA;
  border-radius: 50%;

  top: 83px;
  left: 36px;
}

@media screen and (min-width:768px) {
  .header-hero__circle {
    width: 334px;
    height: 334px;
    top: 43px;
    left: 248px;
  }
}


.header-hero__photo-ice-cream {
  position: absolute;
  z-index: 2;
  top: 13px;
  left: 81px;
}

@media screen and (min-width:768px) {
  .header-hero__photo-ice-cream {
    top: 37px;
    left: 74px;
  }
}

.header-hero__block {
  position: absolute;
  top: 194px;
  left: 20px;
  width: 224px;
  z-index: 3;
}

@media screen and (min-width:768px) {
  .header-hero__block {
    width: 166px;
    top: 104px;
    left: 32px;
  }
}

.header-hero__main-title {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #FFFFFF;
  margin-bottom: 23px;
}


.header-hero__main-title {
    font-size: 22px;
    line-height: 1.04;
  }


.header-hero__main-title--big {
  font-size: 48px;
  line-height: 0.96;
  text-transform: uppercase;
  color: #D41443;
}

@media screen and (min-width:768px) {
  .header-hero__main-title--big {
    font-size: 34px;
    line-height: 0.9;
  }
}

.header-hero__list {
  display: flex;
  flex-direction: row;
}

.header-hero__link {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  display: flex;
  align-items: center;
  text-align: center;
}

.header-hero__button {
  padding: 7px 16px;
  border: transparent;
  border-radius: 20px;

  cursor: pointer;
}

.header-hero__button--red {
  color: #FFFFFF;
  background: #D41443;
}

.header-hero__button--white {
  color: #D41443;
  background: #FFFFFF;
}

.header-hero__button+.header-hero__button {
  margin-left: 8px;
}

/* @media screen and (min-width:768px) {
    width: 768px;
} */

@media screen and (max-width:768px) {
  .header-hero__photo-jug {
    display: none;
  }
}

.header-hero__photo-jug {
  position: absolute;
  left: 32px;
  bottom: 16px;

}

@media screen and (max-width:768px) {
  .header-hero__product-description {
    display: none;
  }
}

.header-hero__product-description {
  position: absolute;
  z-index: 5;

  margin-top: auto;
  margin-bottom: 56px;
  margin-left: 184px;
  bottom: 0;
}

.header-hero__product-text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1, 5;
  color: #FFFFFF;

  max-width: 114px;
}

.header-hero__button-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 18px; 
  border-radius: 50%;
  border: none;
  background-color: #FFFFFF;

  margin-top: 7px;
  cursor: pointer;
}

.header-hero__icon {
  // height: 18px;
  // width: 18px;  
  // border-radius: 50%;
  background-color: transparent;
  fill: #D41443;

  // margin-top: 7px;
}

@media screen and (max-width:768px) {
  .header-hero__photo-girl {
    display: none;
  }
}

.header-hero__photo-girl {
  position: absolute;
  z-index: 5;
  right: 32px;
  bottom: -2px;
}

@media screen and (max-width:767px) {
  .header-hero__branches {
    display: none;
  }
}

.header-hero__branches {
  margin-top: 92px;
  margin-right: 6px;
}

.header-hero__branches-item+.header-hero__branches-item {
  margin-top: 16px;
}

.header-hero__branches-item {
  position: relative;
  margin-right: 7px;
}

.header-hero__branches-number {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #D41443;
}

.header-hero__branches-type {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;

  color: #FFFFFF;
}

.header-hero__point {
  position: absolute;
  z-index: -1;

  width: 16px;
  height: 16px;
  background-color: #FFFFFF;
  border-radius: 50%;

  top: -3px;
  right: -6px;
}