<section id="how-its-made" class="about">
  <div class="container about__milk">
    <p class="about__label">tradition and love</p>
    <h2  class="about__title">how it’s made?</h2>
    <div class="about__content">
      <div class="about__foto">
        <picture>
          <source srcset="../src/images/img-how-made/cow-desc-1x.png 1x, ../src/images/img-how-made/cow-desc-2x.png 2x" media="(min-width: 1280px)">
          <source srcset="../src/images/img-how-made/cow-tab-1x.png 1x, ../src/images/img-how-made/cow-tab-2x.png 2x" media="(min-width: 768px)">
          <source srcset="../src/images/img-how-made/cow-mob-1x.png 1x, ../src/images/img-how-made/cow-mob-2x.png 2x" media="(min-width: 400px)">
          <source srcset="../src/images/img-how-made/cow_m-1x.png 1x, ../src/images/img-how-made/cow_m-2x.png 2x" media="(min-width: 320px)">
          
          <img src="../src/images/img-how-made/cow_m-1x.png" alt="foto">
        </picture>

      <a class="popup-youtube about__btn" href="https://www.youtube.com/watch?v=OWKNSsQoKOs">Watch more<svg class="about__btn-icon"> 
                <use href="../src/images/icon/symbol.svg#icon-vector"></use>
              </svg></a><br>

      </div>
      <div class="about__production">
        <p class="about__production-text">
          There is whole, 2%, 1%, and skim milk readily available. Avoid using skim milk when making ice cream because its low fat content will produce a light watery flavor that lacks any richness to it. Other milks that can be used that are becoming more readily available are soy milk, rice milk and goat's milk.
        </p>
        <p class="about__production-text--color about__production-text--p">
          Most ice cream is made with lots of heavy cream and eggs. It tastes delicious but it’s not very health-conscious. Using milk can be a tasty and healthier alternative to traditional cream. For something a little richer, try an ice cream made with sweetened condensed milk. If you prefer vegan options, you can even make ice cream with coconut milk.
          <p class="about__production-text--color">A variety of milk products can be used: cream, whole milk, condensed milk and instant skim-milk powder.</p>
          
        </p>
        <button data-modal-open type="button" class="about__btn">Read more<svg class="about__btn-icon"> 
                <use href="../src/images/icon/symbol.svg#icon-vector"></use>
              </svg></button>
      </div>
    </div>
  </div>
 
    
</section>
