<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <form class="modal__form">
      <p class="modal__title">A few words about Ice Cream</p>
      <p>ice cream, frozen dairy food made from cream or butterfat, milk, sugar, and flavourings. Frozen custard and French-type ice creams also contain eggs. Hundreds of flavours have been devised, the most popular being vanilla, chocolate, and strawberry.</p>
     
    <button data-modal-close type="button" class="modal__btn-close">
      <svg class="modal__icon-close"><use href="../src/images/img-how-made/icecream.svg"></use></svg>
    </button>
  </div>
</div>
