<div class="backdrop__buy-now is-hidden data-modal4" data-modal4>

    <div class="modal4 data-modal4">
        <button type="button" class="modal4__close-btn data-modal4-close" data-modal4-close>
            <svg class="modal4__icon" width="18" height="18">
                <use href="./images/icon/symbol.svg#icon-close-burger"></use>
            </svg>
        </button>
        <form class="modal4-form" method="POST">
            <b class="modal4-form__title">Leave your details, we will call you back</b>
            <label for="name" class="modal4-form__group">
                <span class="modal4-form__tag">Name</span>
                <input type="text" name="user-name" id="name" class="modal4-form__input" placeholder="">
                <svg class="modal4-form__icon" width="18" height="18">
                    <use href="./images/icon/symbol.svg#icon-person"></use>
                </svg>
            </label>
            <label for="tel" class="modal4-form__group">
                <span class="modal4-form__tag">Phone</span>
                <input type="tel" name="user-phone" id="tel" class="modal4-form__input" placeholder="">
                <svg class="modal4-form__icon" width="18" height="18">
                    <use href="./images/icon/symbol.svg#icon-phone"></use>
                </svg>
            </label>
            <label for="email" class="modal4-form__group">
                <span class="modal4-form__tag">Mail</span>
                <input type="email" name="email" id="email" class="modal4-form__input" placeholder="">
                <svg class="modal4-form__icon" width="18" height="18">
                    <use href="./images/icon/symbol.svg#icon-email-black"></use>
                </svg>
            </label>
            <label for="comment" id="non-hidden" class="modal4-form__group">
                <span class="modal4-form__tag">Your comments for us</span>
                <textarea name="comment" id="comment" rows="5" class="modal4-form__textarea"
                    placeholder="Type your text"></textarea>
            </label>
            <label class="modal4-form__group">
                <input type="checkbox" name="checkbox" id="checkbox" class="modal4-field-checkbox visually-hidden"
                    tabindex="-1" aria-hidden="true">
                <span class="modal4-field-checkbox__group" tabindex="0" role="checkbox" aria-checked="true"
                    aria-labelledby="checkbox">
                    <svg class="modal4-field-checkbox__icon" width="16" height="15">
                        <use href="./images/icon/symbol.svg#icon-Vector1"></use>
                    </svg>
                </span>
                <span class="modal4-field-checkbox__agreement">I agree with the newsletter and accept&nbsp;
                    <a href="" class="modal4-field-checkbox__rules">Terms of an agreement</a>
                </span>
            </label>
            <button type="submit" class="modal4-form__btn-send-modal">Send</button>
        </form>
    </div>
</div>