<!-- Contacts -->
<section class="section contacts-section">
  <div class="container contacts-all">
    <h2 hidden list>Contacts</h2>
    <div class="contacts">
      <ul class="contacts-place list">
        <li class="contacts-place__item">
          <button type="button" class="contacts-place__btn link">CAFE</button>
        </li>
      </ul>
      <div class="adress">
        <h3 class="adress__title">Chicago</h3>
        <p class="adress__about">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>
      <div class="work">
        <p class="work__day">Monday - Friday</p>
        <p class="work__time">06:00 AM - 10:00 PM</p>
        <p class="work__day">Saturday - Sunday</p>
        <p class="work__time">08:00 AM - 16:00 PM</p>
      </div>
      <adress class="adress-contact">
        <ul class="adress-contact__list list">
          <li class="adress-contact__item">
            <a href="tel:+610383766284" class="adress-contact__link link">+61(0) 383 766 284</a>
          </li>
          <li class="adress-contact__item">
            <a href="mailto:noreply@envato.com" class="adress-contact__link link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </adress>
    </div>
    <div class="contacts">
      <ul class="contacts-place list">
        <li class="contacts-place__item">
          <button type="button" class="contacts-place__btn-1 link">FOODTRUCK</button>
        </li>
      </ul>
      <div class="adress">
        <h3 class="adress__title">Los Angeles</h3>
        <p class="adress__about">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>
      <div class="work">
        <p class="work__day">Monday - Friday</p>
        <p class="work__time">06:00 AM - 10:00 PM</p>
        <p class="work__day">Saturday - Sunday</p>
        <p class="work__time">08:00 AM - 16:00 PM</p>
      </div>
      <adress class="adress-contact">
        <ul class="adress-contact__list list">
          <li class="adress-contact__item">
            <a href="tel:+610383766284" class="adress-contact__link link">+61(0) 383 766 284</a>
          </li>
          <li class="adress-contact__item">
            <a href="mailto:noreply@envato.com" class="adress-contact__link link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </adress>
    </div>
    <div class="contacts">
      <ul class="contacts-place list">
        <li class="contacts-place__item">
          <button type="button" class="contacts-place__btn link">CAFE</button>
        </li>
      </ul>
      <div class="adress">
        <h3 class="adress__title">New York</h3>
        <p class="adress__about">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>
      <div class="work">
        <p class="work__day">Monday - Friday</p>
        <p class="work__time">06:00 AM - 10:00 PM</p>
        <p class="work__day">Saturday - Sunday</p>
        <p class="work__time">08:00 AM - 16:00 PM</p>
      </div>
      <adress class="adress-contact">
        <ul class="adress-contact__list list">
          <li class="adress-contact__item">
            <a href="tel:+610383766284" class="adress-contact__link link">+61(0) 383 766 284</a>
          </li>
          <li class="adress-contact__item">
            <a href="mailto:noreply@envato.com" class="adress-contact__link link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </adress>
    </div>
    <div class="button">
      <ul class="contacts-btn list">
        <li class="contacts-btn__item">
          <button type="button" class="btn--active link">Our Locations</button>
        </li>
        <li class="contacts-btn__item">
          <button type="button" class="btn link">Franchise</button>
        </li>
      </ul>
    </div>
  </div>
</section>
