<section id="about" class="section customer-reviews container">
  <h2 class="visually-hidden">customer-reviews</h2>
  <div class="swiper">
    <div class="swiper-buttons">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <article>
          <img
            class="customer-img"
            src="./images/img-reviews/ukrainets.jpg"
            alt="Maksim Ukraynec"
          />
          <p class="customer-comment">
            My name is Maksim Ukraynec. I live in Kharkov. I am 45. I have a family with 3 children.
            I am an entrepreneur, but i began to learn IT and study at GoIT. Team leader
          </p>
          <span class="customer-decordots"></span>
          <p class="customer-author">Maksim, Kharkov, Ukraine</p>
        </article>
      </div>
      <div class="swiper-slide">
        <article>
          <img class="customer-img" src="./images/img-reviews/nesteruk.jpg" alt="Olena Nesteruk" />
          <p class="customer-comment">
            This project is an interesting and usefull experience. Programming is a whole space
            which i learn with GOIT. During the peoject I paricipated as a SCRUM-master and
            contributed to the header.
          </p>
          <span class="customer-decordots"></span>
          <p class="customer-author">Olena, Kyiv, Ukraine</p>
        </article>
      </div>
      <div class="swiper-slide">
        <article>
          <img
            class="customer-img"
            src="./images/img-reviews/proskurin.jpg"
            alt="Volodymyr Proskurin "
          />
          <p class="customer-comment">
            Coding is like a sex. One mistake and you have to support him for the rest of your
            life..
          </p>
          <span class="customer-decordots"></span>
          <p class="customer-author">Volodymyr, Kyiv, Ukraine</p>
        </article>
      </div>
      <div class="swiper-slide">
        <article>
          <img
            class="customer-img"
            src="./images/img-reviews/denysenko.jpg"
            alt="Andrey Denysenko"
          />
          <p class="customer-comment">
            Student of the GoIT Academy. I was born in the city of Shostka, now I live in Kyiv. I
            graduated from the University of Food Technology, I work as the head of a bakery. In
            this project, I was engaged in the "Products" section.
          </p>
          <span class="customer-decordots"></span>
          <p class="customer-author">Andrey, Kyiv, Ukraine</p>
        </article>
      </div>
      <div class="swiper-slide">
        <article>
          <img
            class="customer-img"
            src="./images/img-reviews/perederii.jpg"
            alt="Viktor Perederii"
          />
          <p class="customer-comment">
            Commercial Analyst with a deep interest in development. My project responsibility was to
            set this beatuful swiper:)
          </p>
          <span class="customer-decordots"></span>
          <p class="customer-author">Viktor, Kyiv, Ukraine</p>
        </article>
      </div>
      <div class="swiper-slide">
        <article>
          <img class="customer-img" src="./images/img-reviews/karman.jpg" alt="Liubov-Karman" />
          <p class="customer-comment">
            I'm Liubov Karman. I live in Kiev. I am 36 years old. I have a familly and 2 pretty and
            nice children. I am provizor by the profession, but i began learn IT and study at GoIT.
            Now we present you result of our first team work. It was difficult:). We tried to do our
            best and now we can present our project - Ice Cream (by my Djedaj Code team).
          </p>
          <span class="customer-decordots"></span>
          <p class="customer-author">Liubov, Kyiv, Ukraine</p>
        </article>
      </div>
      <div class="swiper-slide">
        <article>
          <img
            class="customer-img"
            src="./images/img-reviews/kashchenko.jpg"
            alt="Pavlo Kashchenko"
          />
          <p class="customer-comment">
            I’m studying JS in GoIT. The Header-Hero section we made together with Olena Nesteruk.
          </p>
          <span class="customer-decordots"></span>
          <p class="customer-author">Pavlo, Kyiv, Ukraine</p>
        </article>
      </div>
      <div class="swiper-slide">
        <article>
          <img class="customer-img" src="./images/img-reviews/tankov.jpg" alt="Mykola Tankov" />
          <p class="customer-comment">
            In the project I created photos and galleries. It was an unforgettable experience of
            working together as a team. Where each team member is important and affects the final
            result.
          </p>
          <span class="customer-decordots"></span>
          <p class="customer-author">Mykola, Kyiv, Ukraine</p>
        </article>
      </div>
      <div class="swiper-slide">
        <article>
          <img class="customer-img" src="./images/img-reviews/kaleniuk.jpg" alt="Bogdan Kaleniuk" />
          <p class="customer-comment">
            My name is Bogdan Kaleniuk. I live in Kyiv. I am 26. I am a car dealer, but i want to
            become a devepoler. The first team project gave us a lot of information and new
            experience.
          </p>
          <span class="customer-decordots"></span>
          <p class="customer-author">Bogdan, Kyiv, Ukraine</p>
        </article>
      </div>
      <div class="swiper-slide">
        <article>
          <img class="customer-img" src="./images/img-reviews/marchak.jpg" alt="Mykola Marchak" />
          <p class="customer-comment">
            My name is Mykola Marchak. I am 19. I live in Lutsk. I wany to ontain new skills and
            grow as a developer. Contributed to Advantages section.
          </p>
          <span class="customer-decordots"></span>
          <p class="customer-author">Mykola, Lutsk, Ukraine</p>
        </article>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
