<section class="section customer-reviews container">
  <h2 class="visually-hidden">customer-reviews</h2>
  <div class="swiper">
    <div class="swiper-buttons">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <article>
          <img
            class="customer-img"
            src="./images/img-reviews/reviews-foto-one.jpg"
            alt="customer-photo"
          />
          <p class="customer-comment">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
          <span class="customer-decordots"></span>
          <p class="customer-author">Jenifer, Texas</p>
        </article>
      </div>
      <div class="swiper-slide">
        <article>
          <img
            class="customer-img"
            src="./images/img-reviews/reviews-foto-two.jpg"
            alt="customer-photo"
          />
          <p class="customer-comment">
            Nullam Mdsfgsdj hfdskjfg d n jdkshfkjhkjhdsf kj mnfvjshdamnf mnd bv mnbnsdmfb hdsbfnmbf
            hjkfdkj isus.
          </p>
          <span class="customer-decordots"></span>
          <p class="customer-author">Emily, Los Angeles</p>
        </article>
      </div>
      <div class="swiper-slide">
        <article>
          <img
            class="customer-img"
            src="./images/img-reviews/reviews-foto-three.jpg"
            alt="customer-photo"
          />
          <p class="customer-comment">
            FDjhsjkdhf sdufd kjdfh dfk skdjh fdsl kjdhffkdjhfsk fkdjgh ksdfh kdfkjhdskjfhjkdjfh
            kdjshf kj.
          </p>
          <span class="customer-decordots"></span>
          <p class="customer-author">Katty, New York</p>
        </article>
      </div>
    </div>

    <div class="swiper-pagination"></div>
  </div>
</section>
