 <footer class="footer">
        <div class="container">
            <div class="tests">
            <div class="footer__section">
    <p class="footer__label"><span>home made ice cream</span><span> made</span></p>
    <h2 class="footer__title"><span>with</span><span> passion</span></h2>
    </div>
    <div class="footer__soc">
        <ul class="footer__soc-list">
            <li 
            class="footer__soc-icon">
            <a class="footer__link" href="">
            <svg class="footer__svg" width="19px" height="19px">
                <use href="./images/icon/symbol.svg#icon-github"></use></svg>
            </a>
        </li>
                
            <li 
            class="footer__soc-icon">
            <a class="footer__link" href="">
            <svg class="footer__svg" width="20px" height="15px">
                <use href="./images/icon/symbol.svg#icon-telegram"></use></svg>
            </a>
        </li>
            <li 
            class="footer__soc-icon">
            <a class="footer__link" href="">
            <svg class="footer__svg" width="19px" height="19px">
                <use href="./images/icon/symbol.svg#icon-facebook"></use></svg>
            </a>
        </li>
        </ul>
        <p class="footer__contacts">Feel free to contact<span class="footer__contacts-span"> +61 (0) 383 766 284</span></p>
    </div>

    </div>
    </div>
    <div class="footer__info">
        <p class="footer__info-text"><span>© 2019 - IceCream.</span><span>
All Rights Reserved.</span></p>
    </div>
</footer>