<section class="gallery">
  <div class="gallery--img container">
    <picture>
      <source
        srcset="
          ./images/img-gallery/gallery-foto-desk-1x.jpg 1x,
          ./images/img-gallery/gallery-foto-desk-2x.jpg 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/img-gallery/gallery-foto-tab-1x.jpg 1x,
          ./images/img-gallery/gallery-foto-tab-2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/img-gallery/gallery-foto-mob-1x.jpg 1x,
          ./images/img-gallery/gallery-foto-mob-2x.jpg 2x
        "
        media="(min-width: 320px)"
      />
      <img
        class="img-corect team-img"
        src="./images/img-gallery/gallery-foto-mob-1x.jpg"
        alt="фото галерея"
      />
    </picture>
  </div>
</section>

<section class="gallery-masonry--container">
  <div class="gallery-masonry container">
    <div class="item-one">
      <img class="gallery-img" src="./images/img-gallery/ice-crem-one.jpg" alt="фото морозиво" />
    </div>
    <div class="item-two">
      <img class="gallery-img" src="./images/img-gallery/ice-crem-two.jpg" alt="фото морозиво" />
    </div>
    <div class="item-three">
      <img class="gallery-img" src="./images/img-gallery/ice-crem-three.jpg" alt="фото морозиво" />
    </div>
    <div class="item-four">
      <img class="gallery-img" src="./images/img-gallery/ice-crem-four.jpg" alt="фото морозиво" />
    </div>
    <div class="item-five">
      <img class="gallery-img" src="./images/img-gallery/ice-crem-five.jpg" alt="фото морозиво" />
    </div>
    <div class="item-six">
      <img class="gallery-img" src="./images/img-gallery/ice-crem-six.jpg" alt="фото морозиво" />
    </div>
    <div class="item-seven">
      <img class="gallery-img" src="./images/img-gallery/ice-crem-seven.jpg" alt="фото морозиво" />
    </div>
    <div class="item-eight">
      <img class="gallery-img" src="./images/img-gallery/ice-crem-eight.jpg" alt="фото морозиво" />
    </div>
  </div>
</section>
