<!-- Hero section -->

<header class="header">


    <div class="container">
        <section class="header-hero">
            <div class="header-hero__circle">
                <picture class="header-hero__photo-ice-cream">
                    <source srcset="
                        ./images/img-hero/ice-cream-desk-1x.png 1x,
                        ./images/img-hero/ice-cream-desk-2x.png 2x" media="(min-width: 1280px)" />
                    <source srcset="
                        ./images/img-hero/ice-cream-tab-1x.png 1x,
                        ./images/img-hero/ice-cream-tab-2x.png 2x" media="(min-width: 768px)" />
                    <source srcset="
                        ./images/img-hero/ice-cream-mob-1x.png 1x,
                        ./images/img-hero/ice-cream-mob-2x.png 2x" media="(max-width: 767px)" />
                    <img src="./images/img-hero/ice-cream-mob-1x.png" alt="colorful ice cream">
                </picture>
            </div>
            <div class="header-hero__block">
                <h1 class="header-hero__main-title">ice cream made with <span
                        class="header-hero__main-title--big">passion</span></h1>
                <ul class="header-hero__list">
                    <button type="button" class="header-hero__button header-hero__button--red"><a
                            class="header-hero__link" href="">Products</a></button>
                    <button type="button" class="header-hero__button header-hero__button--white"><a
                            class="header-hero__link" href="">How it’s made?</a>
                </ul></a></button>
                </ul>
            </div>

            <picture class="header-hero__photo-jug">
                <source srcset="
                        ./images/img-hero/jug-milk-hero-desk-1x.png 1x,
                        ./images/img-hero/jug-milk-hero-desk-2x.png 2x" media="(min-width: 1280px)" />
                <source srcset="
                        ./images/img-hero/jug-milk-hero-tab-1x.png 1x,
                        ./images/img-hero/jug-milk-hero-tab-1x.png 2x" media="(min-width: 768px)" />
                <img src="./images/img-hero/jug-milk-hero-tab-1x.png" alt="jug with milk" width="152" height="154">
            </picture>

            <div class="header-hero__product-description">
                <p class="header-hero__product-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et</p>
                    <button type="button" class="header-hero__button-arrow">
                        <svg class="header-hero__icon" width="6" height="7">
                        <use href="./images/icon/symbol.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                
            </div>

            <picture class="header-hero__photo-girl">
                <source srcset="
                    ./images/img-hero/girl-hero-desk-1x.png 1x,
                    ./images/img-hero/girl-hero-desk-1x.png 2x" media="(min-width: 1280px)" />
                <source srcset="
                    ./images/img-hero/girl-hero-tab-1x.png 1x,
                    ./images/img-hero/girl-hero-tab-1x.png 2x" media="(min-width: 768px)" />
                <img src="./images/img-hero/girl-hero-tab-1x.png" alt="funny girl" width="190" height="150">
            </picture>

            <div class="header-hero__branches">
                <ul class="header-hero__branches-list">
                    <li class="header-hero__branches-item">
                        <p class="header-hero__branches-number">16</p>
                        <p class="header-hero__branches-type">cafes</p>
                        <div class="header-hero__point"></div>
                    </li>
                    <li class="header-hero__branches-item">
                        <p class="header-hero__branches-number">23</p>
                        <p class="header-hero__branches-type">food trucks</p>
                        <div class="header-hero__point"></div>
                    </li>
                </ul>
            </div>
        </section>
    </div>

</header>
