<header class="header">
    <div class="container main-nav">
        <a class="logo" lang="en" href="./index.html">
            <img src="../images/icon/logo.png" alt="Логотип сайта" />
        </a>

        <nav class="nav">
      <ul class="site-nav list">
        <li class="site-nav__item"><a class="site-nav__link site-nav__link--current" href="./index.html">Home</a></li>
        <li class="site-nav__item"><a class="site-nav__link" href="">About us</a></li>
        <li class="site-nav__item"><a class="site-nav__link" href="">How it’s made?</a></li>
        <li class="site-nav__item"><a class="site-nav__link" href="">Our products</a></li>
        <li class="site-nav__item"><a class="site-nav__link" href="">Contact</a></li>
      </ul>
    </nav>

        <!-- <div class="mobile-menu" data-menu>

            <ul class="mobile-menu__nav list">
                <li class="mobile-menu__item"><a class="mobile-menu__link mobile-menu__link--current"
                        href="./index.html">Home</a>
                </li>
                <li class="mobile-menu__item"><a class="mobile-menu__link" href="">About us</a></li>
                <li class="mobile-menu__item"><a class="mobile-menu__link" href=" ">How it’s made?</a></li>
                <li class="mobile-menu__item"><a class="mobile-menu__link" href=" ">Our products</a></li>
                <li class="mobile-menu__item"><a class="mobile-menu__link" href=" ">Contact</a></li>
            </ul>

        </div> -->

        <button class="mobile-menu__btn" type="button" data-menu-button aria-expanded="false">
            <svg class="mobile-menu__icon" width="40" height="40">
                <use class="icon__open" href="../images/icon/symbol.svg#icon-Burger"></use>
                <use class="icon__close" href=""></use>
            </svg>
        </button>
        <!-- <button class="btn__header" type="button">
            <svg class="btn__icon" width="10px" height="10px">
                <use class="icon__btn" href="../images/icon/symbol.svg"></use>
            </svg>
            Buy now</button> -->
    </div> 
</header>
