<!-- Hero section -->

<header class="header">

    <!-- Lenas section -->

    <!-- <div class="container main-nav">
        <a class="logo" lang="en" href="./index.html">
            <img src="../src/images/icon/logo.png" alt="Логотип сайта" />
        </a> -->

    <!-- <nav class="nav">
            <ul class="site-nav list">
                <li class="site-nav__item"><a class="site-nav__link site-nav__link--current" href="">Home</a></li>
                <li class="site-nav__item"><a class="site-nav__link" href="">About us</a></li>
                <li class="site-nav__item"><a class="site-nav__link" href="">How it’s made?</a></li>
                <li class="site-nav__item"><a class="site-nav__link" href="">Our products</a></li>
                <li class="site-nav__item"><a class="site-nav__link" href="">Contact</a></li>
            </ul>
        </nav> -->

    <!-- <div class="mobile-menu" data-menu>
            <ul class="mobile-menu__nav list">
                <li class="mobile-menu__item"><a class="mobile-menu__link mobile-menu__link--current"
                        href="./index.html">Home</a>
                </li>
                <li class="mobile-menu__item"><a class="mobile-menu__link" href="">About us</a></li>
                <li class="mobile-menu__item"><a class="mobile-menu__link" href=" ">How it’s made?</a></li>
                <li class="mobile-menu__item"><a class="mobile-menu__link" href=" ">Our products</a></li>
                <li class="mobile-menu__item"><a class="mobile-menu__link" href=" ">Contact</a></li>
            </ul>
        </div>  -->

    <!-- <button class="mobile-menu__btn" type="button" data-menu-button aria-expanded="false">
            <svg class="mobile-menu__icon" width="40" height="40">
                <use class="icon__open" href="../src/images/icon/symbol.svg#icon-Burger"></use>
                <use class="icon__close" href="../src/images/icon/symbol.svg#icon-close-"></use>
            </svg>
        </button>
        <button class="btn__header" type="button"> -->
    <!-- <svg class="btn__icon" width="10px" height="10px">
                <use class="icon__btn" href="../src/images/icon/symbol.svg#"></use>
            </svg> -->
    <!-- Buy now
        </button>
    </div> -->


    <!-- Lenas section -->

    <div class="container">
        <div class="header__main-nav">
            <a class="logo" lang="en" href="./index.html">
                <img src="../src/images/icon/logo.png" alt="Логотип сайта" />
            </a>

            <nav class="nav">
                <ul class="site-nav list">
                    <li class="site-nav__item"><a class="site-nav__link site-nav__link--current" href="">Home</a></li>
                    <li class="site-nav__item"><a class="site-nav__link" href="">About us</a></li>
                    <li class="site-nav__item"><a class="site-nav__link" href="">How it’s made?</a></li>
                    <li class="site-nav__item"><a class="site-nav__link" href="">Our products</a></li>
                    <li class="site-nav__item"><a class="site-nav__link" href="">Contact</a></li>
                </ul>
            </nav>

            <button class="header__mobile-menu-btn" type="button" data-menu-button aria-expanded="false">
                <svg class="header__mobile-menu-icon" width="40" height="40">
                    <use class="icon__open" href="../src/images/icon/symbol.svg#icon-Burger"></use>
                    <use class="icon__close" href="../src/images/icon/symbol.svg#icon-close-"></use>
                </svg>
            </button>
            <button class="btn__header" type="button">
                Buy now
                <svg class="btn__icon" width="10px" height="10px">
                    <use class="icon__btn" href="../src/images/icon/symbol.svg#icon-vector"></use>
                </svg>
            </button>

            

        </div>

        <section class="header-hero">
            <div class="header-hero__circle">
                <picture class="header-hero__photo-ice-cream">
                    <source srcset="
                        ./images/img-hero/ice-cream-desk-1x.png 1x,
                        ./images/img-hero/ice-cream-desk-2x.png 2x" media="(min-width: 1280px)" />
                    <source srcset="
                        ./images/img-hero/ice-cream-tab-1x.png 1x,
                        ./images/img-hero/ice-cream-tab-2x.png 2x" media="(min-width: 768px)" />
                    <source srcset="
                        ./images/img-hero/ice-cream-mob-1x.png 1x,
                        ./images/img-hero/ice-cream-mob-2x.png 2x" media="(max-width: 767px)" />
                    <img src="./images/img-hero/ice-cream-mob-1x.png" alt="colorful ice cream">
                </picture>
            </div>
            <div class="header-hero__block">
                <h1 class="header-hero__main-title">ice cream made with <span
                        class="header-hero__main-title--big">passion</span></h1>
                <ul class="header-hero__list">
                    <button type="button" class="header-hero__button header-hero__button--red"><a
                            class="header-hero__link" href="">Products</a></button>
                    <button type="button" class="header-hero__button header-hero__button--white"><a
                            class="header-hero__link" href="">How it’s made?</a>
                </ul></a></button>
                </ul>
            </div>

            <picture class="header-hero__photo-jug">
                <source srcset="
                        ./images/img-hero/jug-milk-hero-desk-1x.png 1x,
                        ./images/img-hero/jug-milk-hero-desk-2x.png 2x" media="(min-width: 1280px)" />
                <source srcset="
                        ./images/img-hero/jug-milk-hero-tab-1x.png 1x,
                        ./images/img-hero/jug-milk-hero-tab-2x.png 2x" media="(min-width: 768px)" />
                <img src="./images/img-hero/jug-milk-hero-tab-1x.png" alt="jug with milk">
            </picture>

            <div class="header-hero__product-description">
                <p class="header-hero__product-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et</p>
                <button type="button" class="header-hero__button-arrow">
                    <svg class="header-hero__icon" width="6" height="7">
                        <use href="./images/icon/symbol.svg#icon-arrow-right"></use>
                    </svg>
                </button>

            </div>

            <picture class="header-hero__photo-girl">
                <source srcset="
                    ./images/img-hero/girl-hero-desk-1x.png 1x,
                    ./images/img-hero/girl-hero-desk-2x.png 2x" media="(min-width: 1280px)" />
                <source srcset="
                    ./images/img-hero/girl-hero-tab-1x.png 1x,
                    ./images/img-hero/girl-hero-tab-2x.png 2x" media="(min-width: 768px)" />
                <img src="./images/img-hero/girl-hero-tab-1x.png" alt="funny girl">
            </picture>

            <div class="header-hero__branches">
                <ul class="header-hero__branches-list">
                    <li class="header-hero__branches-item">
                        <p class="header-hero__branches-number">16</p>
                        <p class="header-hero__branches-type">cafes</p>
                        <div class="header-hero__point"></div>
                    </li>
                    <li class="header-hero__branches-item">
                        <p class="header-hero__branches-number">23</p>
                        <p class="header-hero__branches-type">food trucks</p>
                        <div class="header-hero__point"></div>
                    </li>
                </ul>
            </div>
        </section>
    </div>

</header>